@media only screen and (min-width : 280px) and (max-width : 449px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
        margin-top: 10%;
    }
}
@media only screen and (min-width : 450px) and (max-width : 599px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
        margin-top: 10%;

    }
}
@media only screen and (min-width : 600px) and (max-width : 799px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
        margin-top: 10%;

    }
}
@media only screen and (min-width : 800px) and (max-width : 999px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
    }
}
@media only screen and (min-width : 1000px) and (max-width : 1199px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
    }
}
@media only screen and (min-width : 1200px)
{
    .ConteneColumnCoordinadores
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65vh;
    }
    .tituloSelectCampCoordina
    {
        color: #7E7E7E !important;
        text-align: center;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-top: 9%;
        padding-left: 9%;
        padding-right: 9%;
        font-size: 1.3em;
    }
}


