@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$primary_font_family: 'quicksand';
html,
body {
  padding: 0;
  margin: 0;
  font-family: "quicksand";
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
