.box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
	min-height: 180px;
	max-width: 220px;
	min-width: 200px;
	border: none;
	background: #E0E0E0;
	border-radius: 40px;
    /* margin: 3%; */
	margin-top: 3%;
}

.contIconBoxAndTextPerBox {
	display : flex;
	flex-direction : row;
	width : 100%;
	flex : 0.4;
}

.contIconBox {
	display : flex;
	justify-content: center;
	width: 50%;
	align-items: center;
}

.contTextPerBox{
	display : flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 17vh;
}

.contTextBox {
	display: flex;
	flex : 0.6;

}

.iconBoxes {
	width: 80%;
}

.textoBoxesPer {
	font-family: 'quicksand';
	font-weight: 1000;
	text-align: left;
	font-size: 35px;
	color : #6F2B71;
	margin-left: -3%;
	margin-top: 10%;
}

.textoBoxes {
	font-family: 'quicksand';
	font-weight: 700;
	text-align: right;
	color: #454545;
	margin-right: 11%;
	font-size: 18px;
    width: 100%;
}

.logoInicio {
	width: 35px;
	height: 36px;
	margin-top: 2%;
	margin-left: 2%;
}
